<div class="row m-0">
	<div class="col-12">
		<div class="m-3">
			<mat-form-field>
				<mat-label>City</mat-label>
				<mat-select
					[(value)]="selectedCity"
					(selectionChange)="changeSelectedCity($event)"
				>
					<mat-option
						*ngFor="let city of cityList"
						[value]="city.value"
						>{{ city.name }}</mat-option
					>
				</mat-select>
			</mat-form-field>
			<mat-form-field class="float-right">
				<input
					matInput
					[(ngModel)]="searchText"
					placeholder="Search"
				/>
			</mat-form-field>
		</div>
		<div *ngIf="bankList | bankSearchPipe: searchText as filteredBankList">
			<div class="mx-3">
				<table class="table table-striped">
					<thead class="thead-dark mat-elevation-z3">
						<tr>
							<th style="width: 4%;">#</th>
							<th>IFSC</th>
							<th>Name</th>
							<th>Branch</th>
							<th>Bank Id</th>
							<th class="w-25">Address</th>
							<th>District</th>
							<th>State</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let bank of filteredBankList; let index = index">
							<td>{{ index }}</td>
							<td>{{ bank?.ifsc }}</td>
							<td>{{ bank?.bank_name }}</td>
							<td>{{ bank?.branch }}</td>
							<td>{{ bank?.bank_id }}</td>
							<td>{{ bank?.address }}</td>
							<td>{{ bank?.district }}</td>
							<td>{{ bank?.state }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
