<div class="mx-3">
	<table class="table table-striped">
		<thead class="thead-dark mat-elevation-z3">
			<tr>
				<th>IFSC</th>
				<th>Name</th>
				<th>Branch</th>
				<th>Bank Id</th>
				<th class="w-25">Address</th>
				<th>District</th>
				<th>State</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let bank of banksList">
				<td>
					<span>{{ bank?.ifsc }}</span>
					<favourite-button
						(selectionChange)="
							toggleSelction($event, bank.ifsc, bank)
						"
						[selected]="isFavorite(bank.ifsc)"
					>
					</favourite-button>
				</td>
				<td>{{ bank?.bank_name }}</td>
				<td>{{ bank?.branch }}</td>
				<td>{{ bank?.bank_id }}</td>
				<td>{{ bank?.address }}</td>
				<td>{{ bank?.district }}</td>
				<td>{{ bank?.state }}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="d-flex align-items-center justify-content-end mx-3 my-5">
	<div class="mr-4" *ngIf="banks && banks.length">
		<mat-form-field>
			<mat-label>Page Size</mat-label>
			<mat-select
				[(value)]="selectedPageSize"
			>
				<mat-option *ngFor="let size of sizeList" [value]="size">{{
					size
				}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<paginator
		[items]="banks"
		[pageSize]="selectedPageSize"
		(changePage)="pageChange($event)"
		*ngIf="banks && banks.length"
	></paginator>
</div>
