<div class="mx-3" *ngIf="favouriteBanks && favouriteBanks.length">
	<div class="mat-subheading-2 my-3 font-weight-bold">Favourite Banks</div>
	<div>
		<table class="table table-striped">
			<thead class="thead-dark mat-elevation-z3">
				<tr>
					<th>IFSC</th>
					<th>Name</th>
					<th>Branch</th>
					<th>Bank Id</th>
					<th class="w-25">Address</th>
					<th>District</th>
					<th>State</th>
				</tr>
			</thead>
			<tbody class="text-blue">
				<tr *ngFor="let bank of favouriteBanks">
					<td>{{ bank?.ifsc }}</td>
					<td>{{ bank?.bank_name }}</td>
					<td>{{ bank?.branch }}</td>
					<td>{{ bank?.bank_id }}</td>
					<td>{{ bank?.address }}</td>
					<td>{{ bank?.district }}</td>
					<td>{{ bank?.state }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="mx-3" *ngIf="!favouriteBanks || !favouriteBanks.length">
	<div class="mat-subheading-2 my-3 font-weight-bold">
		No favourite bank added!
	</div>
</div>
